doctype html
head
  meta(charset='utf-8')
  meta(name='viewport' content='width=device-width, initial-scale=1.0')
  title #{title}
  link(rel='stylesheet' href='/css/styles.css')
  //- link(rel='stylesheet' href='/src/main.css')
  
  //- js for styling (tailwindcss)
  //- script(src="https://cdn.tailwindcss.com")

  //- axios
  script(src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js")