

script.
  document.addEventListener('DOMContentLoaded', function() {
    function findElement(element, parent = document) {
      return parent.querySelector(element);
    }
    axios
    .get('/api/order')
    .then(function(response) {
      // Foods
      orders = response.data 

      const elFoodsList = findElement(".food__list");
      const elFoodsListItems = findElement(".food__items");
      elFoodsList.innerHTML = null;


      const fragment = document.createDocumentFragment();

      //- Render the data 
      orders.forEach(o => {
        foodData = o.order;

        const template = elFoodsListItems.cloneNode(true)

        const name = findElement(".food__name", template);
        name.textContent = foodData.foodName;

        const time = findElement(".food__time", template);
        time.textContent = `Time ordered: ${foodData.orderedTime}`;

        const state = findElement(".food__state", template);
        state.textContent = `State: ${foodData.foodState}`;

        const tableNumber = findElement(".food__table-id", template);
        tableNumber.textContent = `Table number: ${foodData.tableId}`;

        const btnUpdate = findElement(".btn_update", template);
        btnUpdate.id = o.id;

        fragment.appendChild(template);

        template.addEventListener("click", function(e){
          if (e.target.className.includes("btn_update")) {
            console.log(e.target.id)
          }

        })
      })

      elFoodsList.appendChild(fragment)
    })
    .catch(function(error) {
      console.log(error);
    });
  });