//- Add new food form
.blur.w-full.h-full.backdrop-blur-sm.absolute.top-0.hidden
div(class="add-form w-1/5 p-10 bg-[#0f172a] border-2 rounded-lg shadow-lg shadow-white duration-300 absolute right-0 top-0 t ranslate-y-1/2 tran slate-x-[125%] ")
  h3.food-name.font-bold.text-bold.text-center.text-xl.mb-5 Add new
  
  .flex.justify-between
    select.select.text-black.py-2.px-3.rounded-md.w-32.text-center
        option(value="preparing") Preparing
        option(value="ready") Ready

    button(class="btn-update py-1 px-4 bg-green-600 border-2 border-green-600 hover:bg-white hover:text-green-600 duration-300 rounded active:scale-110", title="add", type="button") Update


script.
  function findElement(element, parent = document) {
    return parent.querySelector(element);
  }
    
  //- Add new food
  const elUpdateBtn = findElement(".btn-update")
  elUpdateBtn.addEventListener("click", function(e) {
    const elSelect = findElement(".select")
    const selectedIndex = elSelect.selectedIndex
    const foodState = elSelect.options[selectedIndex]   

     const orderData = {
      foodName: 'name',
      orderedTime: 'orderedTime',
      foodState: 'accepted',
      tableId: 'tableNumber',
    };

    axios
    .put(`/api/order/sFai7`, orderData)
    .then(response => {
      console.log(response)
      
    })
    .catch(error => {
      if(error.response)
        alert(JSON.stringify(error.response.data.errors))
      else
        alert(error)
    });
  })